---
layout: default
title: Neil de Carteret
---
{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}./{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<div id="home">

  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo;
        <a href="{{ relative }}{{ post.url }}">{{ post.title }}</a>
        (Post url: {{ post.url }})

      </li>
    {% endfor %}
  </ul>
</div>
